.searchDate {
  width: 100%;
}

.datePicker {
  width: 100%;
}

.searchDate > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 559px; */
  width: 100%;
  padding: 10px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 375px;
}

.searchDate > input {
  /* width: 539px; */
  width: 100%;
  height: 30px;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 420px;
  border: none;
}

.searchDate > input:focus {
  outline-width: 0;
}

.searchDate > button {
  position: absolute;
  left: 0;
  top: 458px;
  text-transform: inherit !important;
  background-color: #ff7779;
  color: white;
  width: 100%;
}

.searchDate > button:hover {
  background-color: lightgrey;
  color: #222222;
}
